body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #423a6f;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
  }
  .delete{
    cursor: pointer;
  }
  .cross{
      cursor: pointer;
  }
  .done{
      text-decoration: line-through;
      opacity: 0.9;
  }
  .filtered{
      display: none !important;
  }